# Web & API Server
fastapi
uvicorn
python-dotenv
python-multipart
pydantic[email]

# Authentication
python-jose
passlib[argon2]

# LangChain & Orquestation
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface

# Database (Postgres + pgvector)
langchain-postgres
psycopg[binary]
pgvector

# Documents & Embeddings processor
pypdf
sentence-transformers
protobuf

# Mail service
resend
